*{
    margin: 0;
    box-sizing: border-box;
    }
    .gallery-container{
        width: 100vw;
        height: 100vh;
        background-image: url("../images/fondo-general.jpg");
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }

    .gallery-background{
        width: 85vw;
        height: 80vh;
        background: rgba(227, 148, 89, 0.3);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3vw;
        font-family: $principal-font;
        color: $color-font;
        font-weight: 400;
        }
    .gallery-images{
        display: flex;
        flex-wrap: wrap;
    }