*{
    margin: 0;
    box-sizing: border-box;
    }
    .contact-container{
        width: 100vw;
        height: 100vh;
        background-image: url("../images/fondo-general.jpg");
        background-size: cover;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        color: $color-font;
        font-family: $principal-font;
    }

    .contact-background{
        width: 65vw;
        height: 60vh;
        background: rgba(227, 148, 89, 0.3);
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-direction: column;
        padding: 1vw;
    }
    .div-contact-icons{
        margin-top: 2rem;
      font-weight: 500;
       font-size: 2rem;
       
    }

    .contact-icons{
        display: flex;

    }
    .menufixedContact{
        position: bottom;
    }